/* doit être appliqué avant chaque ancre de la page*/ 
a::before {
    content: "→";
}

/* doit être appliqué à la suite de chaque label du formulaire */ 
label::after {
    content: " *";
}

/* doit être appliqué à la première ligne de chaque paragraphe */ 
p::first-line {
    text-transform: capitalize;
    color: blue;
}

/* doit être appliqué à la première lettre de chaque paragraphe */ 
p::first-letter {
    color: red;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    letter-spacing: 5px; 
}

/* doit être appliqué à la sélection de l'utilisateur sur un paragraphe */ 
p::selection {
    background-color: cyan;
    color: coral;
    text-shadow: 5px 5px #558ABB;
}